 :root {
     --primary-purple: #9333ea;
     --light-purple: #a855f7;
     --bg-gray: #f3f4f6;
 }

 body {
     background-color: var(--bg-gray);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .header-bg {
     padding-bottom: 50px;
     border-radius: 0 0 3vw 3vw;
     color: white;
    }
    
.gradient-bg{
     background: linear-gradient(235deg, #c084fc, #3c166d );
 }

 .avatar-img {
    min-width: 75px;
     width: 10vw;
     max-width: 100px;
     object-fit: cover;
     object-position: center center;
     border: 2px solid rgb(255, 255, 255);
 }

 .balance-card {
     margin-top: -50px;
     border-radius: 15px;
     border: none;
 }


 .action-btn {
     border: none;
     color: white;
     height: 100px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     transition: transform 0.2s;
 }

 .action-btn:active {
     transform: scale(0.98);
 }

 .icon-large {
     font-size: 2rem;
     margin-bottom: 5px;
 }


 .transacao::before {
     content: "";
     display: block;
     width: 5px;
     height: 75%;
     position: absolute;
     background-color: var(--light-purple);
     border-radius: 3px;
     left: 0;
     top: 50%;
     transform: translateY(-50%);

 }

 .mov-entrada::before {
     background-color: #06c54f;
 }

 .mov-saida::before {
     background-color: #e70f0f;
 }
