 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 :root {
     --cor-escura: #7904EB;
     --cor-clara: #A763E9;
 }

 body {
     background-color: #f3f4f6;
     font-family: "Poppins", sans-serif;
 }

 .header-bg {
     padding-bottom: 50px;
     border-radius: 0 0 3vw 3vw;
     color: white;
 }

 .gradient-bg {
     background: linear-gradient(235deg, #c084fc, #3c166d);
 }

 .logo {
     color: var(--cor-escura);
 }

 .logo span {
     color: var(--cor-clara);
 }

 .avatar-img {
     min-width: 75px;
     width: 10vw;
     max-width: 100px;
     object-fit: cover;
     object-position: center center;
     border: 2px solid rgb(255, 255, 255);
 }

 .balance-card {
     margin-top: -50px;
     border-radius: 15px;
     border: none;
 }


 .action-btn {
     border: none;
     color: white;
     height: 100px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     transition: transform 0.2s;
 }

 .action-btn:active {
     transform: scale(0.98);
 }

 .icon-large {
     font-size: 2rem;
     margin-bottom: 5px;
 }

 .active {
     font-weight: bold;
     color: var(--cor-escura) !important;
 }

 .transacao::before {
     content: "";
     display: block;
     width: 5px;
     height: 75%;
     position: absolute;
     background-color: var(--cor-clara);
     border-radius: 3px;
     left: 0;
     top: 50%;
     transform: translateY(-50%);

 }

 .mov-entrada::before {
     background-color: #06c54f;
 }

 .mov-saida::before {
     background-color: #e70f0f;
 }

 .grafico {
     width: 100%;
     background-color: #f5f5f5;
     border-radius: 15px;
     padding: 10px;
 }